<div class="container">
    <div class="row">
        <div class="center col-sm-12">
            <h1>Eat-Da-Burger App</h1>
            <p></p>
        </div>
    </div>

    <div class="row" id="tASK">
        <div class="col-sm-6">
            <br>
            <h2>Burgers Available To Eat!</h2>
            <ul>
                {{#each burger_data}}
                {{#unless this.devoured}}
                <lil>
                    <pre>{{this.id}}. {{this.burger_name}} </pre>

                    <div class="col-xs-3 text-center">
                        <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                            <input type="hidden" name="burger_id" type="text" value="{{this.id}}">
                            <br>
                            <button type="submit" class="btn btn-default">DEVOUR IT!</button>
                        </form>
                    </div>
                </lil>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-sm-6" class="task">
        <h2>Burgers That Have Been Eaten!</h2>
        {{#each burger_data}}
        {{#if this.devoured}}
        <li>
            {{this.id}}
            {{this.burger_name}}
        </li>
        {{/if}}
        {{/each}}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="center col-sm-12 text-center enter_selection">

            <h2>Add A Burger!</h2>

            <form method="POST" action="/burgers/create">

                <div class="form-group">
                    <p>enter a burger you would like to eat</p>
                    <input type="text" name="burger_name" class="form_control" value="" id="enter_text">
                </div>

                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>

        </div>
    </div>
</div>